
.editorial-block-response-container {
    background-color: white;
    border: 1px solid grey;
    margin: 5px;
    clear: both;
    min-height: 120px;
}

.editorial-block-response {
    display: none;
    clear: left;
}

.editorial-block-response.child {
    display:block;
    margin: 5px 0 0 10px;
    padding: 5px;
    border: 1px solid grey;
}

.editorial-block-response-info {
    float: left;
    width: 100px;
    margin: 3px;
}

.editorial-block-response-new {
    margin-left: 25px;
    clear: both;
}

.editorial-block.reply {
    display: none;
}

.editorial-block.reply-button {
    cursor: pointer;
}

.editorial-block-response.child-text {
    display: inline-block;
    float: right;
}

.send-emails div {
    margin: 10px;
}
