
.editorial-block-response-container {
    clear: both;
    margin-bottom: 10px;
}

.editorial-block-response,
.cancel-response-edit {
    display: none;
    clear: left;
}

.edit-response,
.cancel-response-edit {
    float: right;
}

.original-label,
.original .edit-response,
.original .cancel-response-edit {
    color: #d7daa0;
}

.original-label:before {
    content: "| ";
}

.editorial-block-response .mceEditor {
    display: block;
    margin-top: 10px;
}

.response-replies {
    margin-top: 10px;
}

.response-replies .child {
    padding-left: 10px;
    border-left: 5px solid #D6D5C2;
    margin-bottom: 10px;
}

.editorial-block-response-info {
    background-color: #D6D5C2;
    padding: 5px;
    line-height: 30px;
}

.original .editorial-block-response-info {
    background-color: #7C7E5D;
    color: #fff;
}

.editorial-block-response-info img {
    height: 30px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.editorial-block-response-info .username {
    vertical-align: top;
    font-weight: bold;
}

.editorial-block-response-new {
    clear: both;
}

.editorial-block.reply {
    display: none;
    margin-bottom: 10px;
}

.editorial-block.reply-button {
    border-top: 1px solid #D6D5C2;
    padding-top: 9px;
    cursor: pointer;
}

.editorial-block-response.child-text {
    display: inline-block;
    float: right;
}

.editorial.layout-options select,
.editorial.layout-options .mceEditor {
    margin-top: 5px;
    width: 100%;
    display: block;
}

.send-emails > div:not(:last-child) {
    margin: 0 0 20px;
}

a.collapse-response:visited,
a.expand-response:visited {
    color: #C76941;
}

.response-text > *:last-child {
    margin-bottom: 0;
}

.original-response.preview {
    overflow: hidden;
    position: relative;
}

.preview .response-text {
    max-height: 15em;
    overflow: hidden;
    position: relative;
}

.preview .response-text:after {
    content: "";
    height: 3em;
    background-image: linear-gradient(rgba(0,0,0,0), #fbfbf9 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 10.5em;
}

.preview .response-text ~ .collapse-response {
    display: none;
}

.preview .response-text ~ .expand-response {
    position: absolute;
    top: 13.5em;
    left: 0;
    right: 0;
    background-color: #fbfbf9;
    line-height: 1.5em;
    height: 1.5em;
    padding-top: .25em;
}

.full .response-text {
    margin-bottom: 20px;
}