.editorial-block {
    position: relative;
    margin-bottom: 1.5em;
}

.editorial-block img.gravatar {
    display: inline-block;
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: .25em;
}

.editorial-block span.username,
.editorial-block span.date {
    display: inline-block;
    font-size: .875em;
}

.editorial-block span.username {
    font-weight: bold;
}

.editorial-block .drawer {
    cursor: pointer;
}

.editorial-block .response-text {
    padding-left: 2em;
}

.editorial-block .response-text > *:first-child {
    margin-top: 0;
}

.editoria;-block .response-text > *:last-child {
    margin-bottom: 0;
}

.editorial-block .drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
}

.editorial-block .drawer::after {
    content: "\f0da";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    height: 1.5em;
    width: 1.5em;
    text-indent: 0;
    text-align: center;
}

.editorial-block .drawer.opened::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.editorial-block-responses {
    display: none;
    clear: both;
}

.editorial-block-response-info {
    width: 100%;
}

.editorial-block-response-container {
    clear: both;
    margin-bottom: 1.5em;
}

.child.editorial-block-response-container {
    margin-left: 2em;
}

.editorial-block .response-replies {
    margin-top: 1.5em;
}